{% extends "base.html" %}

{% block content %}
    <h2>{{ request }}</h2>
    <table>
      <tr><td><bold>Where</bold>: {{ request.location }}</tr></td>
      <tr>
        <td><bold>What:</bold></td>
        <td>
          <table>
          {% if request.items %}
          {% for item_request in request.items.all %}
          <tr><td>{{ item_request }}</tr></td>
          {% endfor %}
          {% else %}
          <tr><td>...no items.</td></tr>
          {% endif %}
          </table>
         </td>
      </tr>
    </table>
    {% if not request.bin %}
    <form method="POST">{% csrf_token %}
      {{ form }}
      <input type="submit" value="Send!" />
    </form>
    {% else %}
    <p>In bin: {{ request.bin }}</p>
    {% endif %}
{% endblock %}
