{% extends "base.html" %}

{% block content %}
    <h2>{{ request }}</h2>

    <p><strong>Where:</strong> {{ request.location }}</p>

    <p><strong>What:</strong></p>
    {% if request.items %}
    <table class="table table-condensed">
      {% for item_request in request.items.all %}
      <tr>
        <td>{{ item_request.quantity }}</td>
        <td>{{ item_request.item }}</td>
      </tr>
      {% endfor %}
      {% else %}
      <tr><td>...no items.</td></tr>
      {% endif %}
    </table>
    <hr />
    {% if not request.bin %}
    {% load crispy_forms_tags %}
    <form class="form form-horizontal">
      {% crispy form %}
      <div class="form-actions">
        <input type="submit" class="btn btn-primary btn-large" value="Send!" />
      </div>
    </form>
    {% else %}
    <p><strong>Delivering in bin:</strong> {{ request.bin }}</p>
    {% endif %}
{% endblock %}
