{% extends "base.html" %}

{% block title %}Millie{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
      <li><span class="divider">/</span><a href="{% url requests %}">requests</a></li>
      <li class="active"><span class="divider">/</span><a href="#">{{ request.pk }}</a></li>
    </ul>
{% endblock %}

{% block content %}
    <h2>{{ request }}</h2>

    <p><strong>Where:</strong> {{ request.location }}</p>

    <p><strong>What:</strong></p>
    {% if request.items %}
    <table class="table table-condensed">
      {% for item_request in request.items.all %}
      <tr>
        <td>{{ item_request.quantity }}</td>
        <td>{{ item_request.item }}</td>
      </tr>
      {% endfor %}
      {% else %}
      <tr><td>...no items.</td></tr>
      {% endif %}
    </table>
    <hr />

    {% with status=request.get_status_display %}
    {% if status == "Pending" %}
    <p><strong>Delivering in bin:</strong> {{ request.bin }}</p>
    {% elif status == "New" %}
    {% load crispy_forms_tags %}
    <form method="post" class="form form-horizontal">
      {% crispy form %}
      <div class="form-actions">
        <input type="submit" class="btn btn-primary btn-large" value="Send!" />
      </div>
    </form>
    {% endif %}
    {% endwith %}
{% endblock %}
